numpy
scipy
matplotlib
pillow
tqdm
tensorflow
sionna
lpips
jupyter
ipykernel
omegaconf
pyyaml
pytorch-lightning
einops
timm
transformers
opencv-python
webdataset
tensorboard
pytorch-msssim
ftfy
regex
git+https://github.com/openai/CLIP.git
